.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    width: 500px;
    height: 500px;
    border: 1px solid black;
}

.box {
    border: 1px solid black;
}

.black-box {
    border: 1px solid white;
    background-color: black;
}